# Iris 품종 분류

* species: 꽃의 종류
* sepal length (cm): 꽃받침의 길이
* petal length (cm): 꽃잎의 길이
* sepal width (cm): 꽃받침의 폭
* petal width (cm): 꽃잎의 폭

In [1]:
import pandas as pd

train = pd.read_csv('data/iris/train.csv')
test = pd.read_csv('data/iris/test.csv')
submission = pd.read_csv('data/iris/sample_submission.csv')

train 데이터셋은 120개의 행과 6개의 컬럼으로 이루어졌다.

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 120 non-null    int64
 1   sepal length (cm)  120 non-null    float64
 2   sepal width (cm)   120 non-null    float64
 3   petal length (cm)  120 non-null    float64
 4   petal width (cm)   120 non-null    float64
 5   species            120 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 5.8 KB

In [5]:
test.head()

,id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0,6.1,2.8,4.7,1.2
1,1,5.7,3.8,1.7,0.3
2,2,7.7,2.6,6.9,2.3
3,3,6.0,2.9,4.5,1.5
4,4,6.8,2.8,4.8,1.4

우리가 예측해야 할 피처는 species이다.

In [4]:
submission.head()

   id  species
0   0        0
1   1        0
2   2        0
3   3        0
4   4        0

species에는 0, 1, 2 총 3개로 분류되어있다.

In [8]:
train['species'].unique()

array([0, 1, 2], dtype=int64)

전처리 및 모델 정의, 예측을 진행해보자.

In [6]:
X = train.drop(['id', 'species'], axis=1)
y = train['species']

test = test.drop('id', axis=1)

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)

model.fit(X, y)
y_pred = model.predict(test)

submission['species'] = y_pred
submission.to_csv('data/iris/submission.csv', index=False)